<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Workout Planner</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>

    <body>
        <div class="container">
            <div style="clear: both; display: block; height: 20px;"></div>
            <div class="col-md-4">
                <h1>Add workout</h1>
            </div>
            <div style="clear: both; display: block; height: 24px;"></div>
            <div class="container">
                <form th:object="${workout}" th:action="@{/save}" action="#" method="POST">
                    <div class="row row-no-gutters">
                        <label for="date" class="col-md-1">Date</label>
                        <input type="date" id="date" th:field="*{date}" class="col-md-2" required/>
                    </div>
                    <div style="clear: both; display: block; height: 10px;"></div>
                    <div class="row row-no-gutters">
                        <label for="routine" class="col-md-1">Routine</label>
                        <input type="text" id="routine" th:field="*{routine}" class="col-md-2"/>
                    </div>
                    <div style="clear: both; display: block; height: 10px;"></div>
                    <div class="row row-no-gutters">
                        <label for="location" class="col-md-1">Location</label>
                        <input type="text" id="location" th:field="*{location}" class="col-md-2"/>
                    </div>
                    <div style="clear: both; display: block; height: 20px;"></div>
                    <input type="submit" class="btn btn-success" value="Save workout" />
                    <a href="/workoutlist" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </body>
</html>