<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Workout Planner</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    </head>

    <body>
        <div class="container">
            <div style="clear: both; display: block; height: 20px;"></div>
            <div class="col-md-4">
                <h1>Workouts</h1>
            </div>
            <div style="clear: both; display: block; height: 20px;"></div>
            <!-- <div class="col-md-4">
                <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
            </div>
            <div class="col-md-4" style="padding:20px 0">
                <form th:action="@{/logout}" method="POST">
                    <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
                </form>
            </div> -->
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Routine</th>
                    <th>Location</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <!-- <th sec:authorize="hasAuthority('ADMIN')">&nbsp;</th> -->
                </tr>
                <tr th:if="${workouts.empty}">
                    <td colspan="4">No workouts yet! Add a workout to get started.</td>
                </tr>
                <tr th:each="workout : ${workouts}">
                    <td th:text="${workout.dateFormatted}"></td>
                    <td th:text="${workout.routine}"></td>
                    <td th:text="${workout.location}"></td>
                    <td><a th:href="@{/workoutlist/{id}(id=${workout.workoutId})}" class="btn btn-xs btn-success">See exercises</a></td>
                    <td><a th:href="@{/edit/{id}(id=${workout.workoutId})}" class="btn btn-xs btn-warning">Edit workout</a></td>
                    <td><a th:href="@{/delete/{id}(id=${workout.workoutId})}" class="btn btn-xs btn-danger">Delete workout</a></td>
                    <!-- <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger">Delete</a></td> -->
                </tr>
            </table>
            <a href="/add" class="btn btn-primary">Add workout</a>
        </div>
    </body>
</html>